$H2Color: #d14566

body
    margin: 0
    padding: 0
    font-family: 17px gilroy
    background: #585858
    color: #ededed
    
@mixin font($size)
    font: $size Impact
    
h1
    @include font(100px)
    font-weight: 700;
    margin-bottom: 20px
h2
    @include font(25px)

ul
    margin-block-start: 0
    padding-inline-start: 0
    

/*-- Mixin --*/      
//@mixin overlay($bgOpacity)   
//    :after
//        content: ''
//        position: absolute
//        top: 0
//        left: 0
//        height: 100%
//        width: 100%
//        background: rgba($H2Color, $bgOpacity)
//        z-index: 0
    
   

   //keep inner content above overlay
//   .row, .inner
//     position: relative
//     z-index: 2
   
 
 



    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    